

<header id="top">
  <nav id="nav" class="first-child smint" style="position: absolute; top: 144px;">
    <ul class="last-child first-child">
      <li class="first-child"><a href="#" id="how-works" class="last-child first-child">How it works</a></li>
      <li><a href="#" id="projects" class="last-child first-child">Projects</a></li>
      <li><a href="#" id="who-we-are" class="last-child first-child">Who we are</a></li>
      <li><a href="#" id="testimonials" class="last-child first-child">Testimonials</a></li>
      <!-- <li><a href="#" id="schedule" class="last-child first-child">Schedule</a></li> -->
      <li class="last-child"><a href="#" id="contact" class="last-child first-child">Contact</a></li>
    </ul>
  </nav>
  <div class="grid">
    <h1 class="first-child">
      <a href="#" class="last-child first-child">
      	Ariagami Labs
        <!-- <img src="/assets/logotipo.png" alt="Startup DEV" class="last-child first-child"> -->
      </a>
    </h1>
    <span class="call last-child">
      <!-- <strong class="last-child first-child">Ariagami Labs</strong> another StartupDev Service to unleash your business -->
    </span>
    <!--a class="other-services" href="#">Other services</a-->
  </div>
</header>
<section id="content">
  <article id="landing" class="first-child">
    <div class="grid first-child">
      <p class="first-child">Have a startup idea?<br class="last-child first-child">Stop looking for a CTO! <br class="last-child first-child">We'll build you a fully-working MVP online in just 5 days.</p>
      <span class="madeby last-child">
        <!-- <strong class="first-child">By:</strong>
        <a href="http://helabs.com/" target="_blank" class="last-child"><img src="/assets/logotipo-helabs.png" alt="HE:labs" class="last-child first-child"></a> -->
      </span>
    </div>
  <div class="bg-cover last-child"></div></article>
  <article class="how-works">
    <div class="grid last-child first-child">
      <h3 class="first-child">How it works</h3>
      <ul id="steps">
        <li class="idea plus first-child">Your product idea</li>
        <li class="staff plus">2 developers + 1 designer</li>
        <li class="time plus">5 days of work</li>
        <li class="money equal">Agreed payment</li>
        <li class="result last-child">Your MVP online!</li>
      </ul>
      <p>We use HTML5, JQuery and Ruby on Rails framework to build your startup's MVP in just 5 days!</p>
      <div class="more last-child">
      	
        <a href="#contact" class="bt last-child first-child">Let's get started</a>
        <!--span><a rel="shadowbox;height=540;width=960" href="//www.youtube.com/embed/gZFXo82lXDM">or watch our apresentation video</a></span-->
      </div>
    </div>
  </article>
  <article class="projects">
    <div class="grid last-child first-child">
      <h3 class="first-child">startup MVPs we've launched</h3>
      <div id="projects_gallery" class="last-child">
        <ul class="last-child first-child" style="position: relative;">
          
          <li class="first-child" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 30; opacity: 0;">
            <a href="http://www.thefamilytales.com/" title="Perfil Plug" target="_blank" rel="nofollow" class="photo first-child">
              <img src="/assets/familytales.jpg" width="527" height="330" alt="FamilyTales" class="last-child first-child">
            </a>
            <h6>FamilyTales</h6>
          </li>
          
          <li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 31; opacity: 1; width: 527px; height: 400px;">
            <a href="https://tldrnotes.weebly.com/" title="Niili" target="_blank" rel="nofollow" class="photo first-child">
              <img src="/assets/tldr.jpg" width="527" height="330" alt="TL;DR" class="last-child first-child">
            </a>
            <h6>TL;DR</h6>
            <p class="last-child"></p>
          </li>

          <li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 30; opacity: 0; width: 527px; height: 400px;">
              <img src="/assets/lastfav.jpg" width="527" height="330" alt="LastFav" class="last-child first-child">
    
            <h6>LastFav</h6>
            <p class="last-child"></p>
          </li>

          <li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 30; opacity: 0; width: 527px; height: 400px;">
              <img src="/assets/halolane.jpg" width="527" height="330" alt="HaloLane" class="last-child first-child">
                 <h6>HaloLane</h6>
            <p class="last-child"></p>
          </li>

          <li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 30; opacity: 0; width: 527px; height: 400px;">
              <img src="/assets/makeworld.jpg" width="527" height="330" alt="MakeWorld" class="last-child first-child">
            <h6>MakeWorld</h6>
            <p class="last-child"></p>
          </li>

        </ul><a id="projects_gallery_next" href="#" ></a><a id="projects_gallery_prev" href="#"></a>
      </div>
    </div>
  </article>
  <article class="who-we-are">
    <div class="grid first-child">
      <h3 class="first-child">We are Ariagami Labs</h3>
      <p>We are a team of programmers, analysts, designers, hackers, entrepreneurs and other experts in cutting-edge technologies best suited to solve your problem. We use the latest methodologies and practices of product development. We use Design Thinking, Lean Startup and Agile Development to transform your startup idea in a real product.</p>
      <span class="company last-child">
      <img src="/assets/logo-ariagami-color2.png" alt="Ariagami Lab" class="last-child first-child"></a>
        <!-- <a href="http://helabs.com/" target="_blank" class="last-child first-child"><img src="/assets/logotipo-helabs.png" alt="HE:labs" class="last-child first-child"></a> -->
      </span>
    </div>
  <div class="bg-cover last-child"></div></article>
  <article class="testimonials">
    <div class="grid last-child first-child">
      <h3 class="first-child">Testimonials</h3>
      <div id="testimonials_gallery" class="last-child">
        <ul class="last-child first-child" style="position: relative; width: 680px; height: 230px;">
          
          <li class="first-child" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 10; opacity: 0;">
            <p class="first-child">"The Ariagami Labs service have exceeded our expectations. They helped us focus exactly where we needed to focus. Thank you for the experience."</p>
            <p class="client_name last-child">Nathan Diaz - TL;DR</p>
          </li>
          
          <li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 10; opacity: 0; width: 680px; height: 140px;">
            <p class="first-child">"We want thank Ariagami Labs. The development team was extremely professional and managed to surpass all expectations. In 5 days, they delivered a fully functional prototype. Congratulations!"</p>
            <p class="client_name last-child">Rod Samson - MakeWorld</p>
          </li>
          
          <li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 11; opacity: 1; width: 680px; height: 140px;">
            <p class="first-child">"My experience with the Ariagami Labs was great. Our MVP was delivered on time and great quality. Moreover, their technical advice made ​​all the difference."</p>
            <p class="client_name last-child">Rebecca Gama - LastFav</p>
          </li>
                    
        </ul><a href="#" id="testimonials_gallery_next"></a><a href="#" id="testimonials_gallery_prev"></a>
      </div>
    </div>
  </article>
  <!-- <article class="schedule">
    <div class="grid last-child first-child">
      <h3 class="first-child">Check when your project could be started...</h3>
      <div id="calendar" class="last-child">
        <table class="last-child first-child">
          <tbody class="last-child first-child">
            
              <tr class="first-child">
                <th class="day first-child">July <span class="last-child first-child">2013</span></th>
                
                  <td class="client">
                    
                      <div class="day first-child">Week of day 02/07</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          Samba Ads
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="client">
                    
                      <div class="day first-child">Week of day 09/07</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          Raciel
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="client">
                    
                      <div class="day first-child">Week of day 16/07</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          Danielle Meneses
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="unavailable">
                    
                      <div class="day first-child">Week of day 23/07</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          Indisponível
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="client last-child">
                    
                      <div class="day first-child">Week of day 30/07</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          Sala de Ideias
                        
                      </strong>
                    </div>
                  </td>
                
              </tr>
            
              <tr>
                <th class="day first-child">August <span class="last-child first-child">2013</span></th>
                
                  <td class="unavailable">
                    
                      <div class="day first-child">Week of day 06/08</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          Indisponível
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="client">
                    
                      <div class="day first-child">Week of day 13/08</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          Alexandre Assed
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="client">
                    
                      <div class="day first-child">Week of day 20/08</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          PerfilPlug
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="unavailable">
                    
                      <div class="day first-child">Week of day 27/08</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          Indisponível
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="last-child">
                    
                    <div class="day-content last-child first-child">
                      <strong class="last-child first-child">
                        
                          --
                        
                      </strong>
                    </div>
                  </td>
                
              </tr>
            
              <tr class="last-child">
                <th class="day first-child">September <span class="last-child first-child">2013</span></th>
                
                  <td class="">
                    
                      <div class="day first-child">Week of day 03/09</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          --
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="client">
                    
                      <div class="day first-child">Week of day 10/09</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          Marcos Valle
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="free">
                    
                      <div class="day first-child">Week of day 17/09</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          Free :)
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="free">
                    
                      <div class="day first-child">Week of day 24/09</div>
                    
                    <div class="day-content last-child">
                      <strong class="last-child first-child">
                        
                          Free :)
                        
                      </strong>
                    </div>
                  </td>
                
                  <td class="last-child">
                    
                    <div class="day-content last-child first-child">
                      <strong class="last-child first-child">
                        
                          --
                        
                      </strong>
                    </div>
                  </td>
                
              </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </article> -->

  <article class="contact last-child">
    <div class="grid last-child first-child">
      <h3 class="first-child">Ready to launch your startup idea?</h3>
      <p>Fill in your details below and we'll contact you shortly.</p>
      <iframe id="frame_contact" src="/assets/mvp-form.html" class="last-child"></iframe>
    </div>
  </article>
</section>
<footer id="footer">
  <div class="grid last-child first-child">
    <div class="share first-child">
      <a href="#" class="last-child first-child">
      	Ariagami Labs
        <!-- <img src="/assets/logotipo.png" alt="Startup DEV" class="last-child first-child"> -->
      </a>
    </div>
    <h4 class="last-child">
	    Ariagami Inc. © Ariagami Labs. All rights reserved.
      <!-- <span class="first-child">StartupDev MVP is a service performed by</span> -->
      <!-- <a href="http://helabs.com/" target="_blank" class="last-child"><img src="/assets/logo-ariagami-color.png" alt="Ariagami Lab" class="last-child first-child"></a> -->
    </h4>
  </div>
</footer>

  

<!-- <div id="window-resizer-tooltip">
<a href="#" title="Edit settings" style="background-image: url(chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/images/icon_19.png);"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth"></span> x <span class="tooltipHeight" id="winHeight"></span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth"></span> x <span class="tooltipHeight" id="vpHeight"></span></div> -->

<div id="sb-container"><div id="sb-overlay"></div><div id="sb-wrapper"><div id="sb-title"><div id="sb-title-inner"></div></div><div id="sb-wrapper-inner"><div id="sb-body"><div id="sb-body-inner"></div><div id="sb-loading"><div id="sb-loading-inner"><span>carregando</span></div></div></div></div><div id="sb-info"><div id="sb-info-inner"><div id="sb-counter"></div><div id="sb-nav"><a id="sb-nav-close" title="Fechar" onclick="Shadowbox.close()"></a><a id="sb-nav-next" title="Próximo" onclick="Shadowbox.next()"></a><a id="sb-nav-play" title="Play" onclick="Shadowbox.play()"></a><a id="sb-nav-pause" title="Pause" onclick="Shadowbox.pause()"></a><a id="sb-nav-previous" title="Anterior" onclick="Shadowbox.previous()"></a></div></div></div></div></div>

<div id="lc_invite_layer" style="text-align: left; display: none; z-index: 16777261;"></div><div id="lc_overlay_layer" style="background-color: rgb(0, 0, 0); position: fixed; left: 0px; top: 0px; z-index: 16777260; display: none; width: 100%; height: 100%;"></div><div id="livechat-full" style="position: fixed; bottom: 0px; right: 15px; width: 400px; height: 450px; overflow: hidden; visibility: hidden; z-index: 2147483639; background-color: transparent; border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"><iframe src="/assets/open_chat.html" id="livechat-full-view" name="livechat-full-view" scrolling="no" frameborder="0" allowtransparency="true" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; border: 0px; padding: 0px; margin: 0px; float: none; background-image: none; background-position: initial initial; background-repeat: initial initial;"></iframe></div><div id="livechat-compact-container" style="position: fixed; bottom: 0px; right: 15px; width: 250px; height: 53px; overflow: hidden; visibility: visible; z-index: 2147483639; background-color: transparent; border: 0px; opacity: 1; background-position: initial initial; background-repeat: initial initial;"><iframe src="javascript:false" id="livechat-compact-view" style="position: relative;top: 20px;left: 0;width: 100%;border: 0;padding: 0;margin: 0;float: none;background: none" scrolling="no" frameborder="0" allowtransparency="true"></iframe><a id="livechat-badge" href="#" onclick="LC_API.show_full_view();return false" style="position: absolute;display: block;visibility: hidden;top: 12px;left: 20px;height: 16px;padding: 0 4px;line-height: 16px;background: #f00;color: #fff;font-size: 10px;text-decoration: none;font-family: &#39;Lucida Grande&#39;, &#39;Lucida Sans Unicode&#39;, Arial, Verdana, sans-serif;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;box-shadow: 0 -1px 0px #f00, -1px 0 0px #f00, 1px 0 0px #f00, 0 1px 0px #f00, 0 0 2px #000;border-top: 1px solid #f99"></a></div>